<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/lyout">
    <head>
        <title>Springboot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  th:href="@{/materialize/css/materialize.min.css}" media="screen,projection"/>

    </head>
    <body>
        <th:block th:include="navbar"></th:block>
        
        <div th:each="evento : ${evento}" class="container">
            <div class="row">
                <h5>Evento</h5>
                <hr class="col s2">
                <br>
                <p>Nome: <span th:text="${evento.nome}"></span></p>
                <p>Local: <span th:text="${evento.local}"></span></p>
                <p>Data: <span th:text="${evento.data}"></span></p>
                <p>Horario: <span th:text="${evento.horario}"></span></p>
            </div>
        
            <th:block th:include="mensagemValidacao"></th:block>

            <form method="post">
                <div class="row">
                    <div class="input-field col s5" >
                        <label for="nome">Nome: </label>
                        <input type="text" value="" name="nomeConvidado"/>
                    </div>
                    <div class="input-field col s5" >
                        <label for="rg">RG: </label>
                        <input id="rg" type="text" value="" name="rg"/>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Adicionar
                        <i class="material-icons right">add</i>
                    </button>
                </div>
            </form>
        </div>
        <table class="container">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>RG</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="convidado : ${convidados}">
                    <td><span th:text="${convidado.nomeConvidado}"></span></td>
                    <td><span th:text="${convidado.rg}"></span></td>
                    <td><a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <script type="text/javascript" src="materialize/js/materialize.min.js" th:href="@{materialize/js/materialize.min.js}"></script>

    </body>
</html>
