<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Springboot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  th:href="@{/materialize/css/materialize.min.css}" media="screen,projection"/>

    </head>
    <body>
        <th:block th:include="navbar"></th:block>
        <h4>Cadastro de Eventos</h4>
        <th:block th:include="mensagemValidacao"></th:block>
        <form class="container"  method="post">
            Nome:<input type="text" value="" name="nome"/>
            <div class="row">
                <div  class="input-field col s6">
                    Local:<input type="text" value="" name="local"/>
                </div>
                <div  class="input-field col s3">
                    Data:<input type="date" value="" name="data"/>
                </div>
                <div  class="input-field col s3">
                    Horario:<input type="text" value="" name="horario"/>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                <i class="material-icons right">save</i>
            </button>
        </form>
        <script type="text/javascript" src="materialize/js/materialize.min.js" th:href="@{materialize/js/materialize.min.js}"></script>
    </body>
</html>
