<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head>
        <style type="text/css">
            div.nav-wrapper{background-color:#26a69a}
        </style>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                  <a href="/eventos" class="brand-logo right">Springboot</a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/cadastrarEvento">Cadastrar Evento</a></li>
                    <li><a href="/eventos">Lista de Eventos</a></li>
                  </ul>
                </div>
            </nav>
        </header>
    </body>
</html>
